<div class="section" id="auteur">
  <div class="auteur-section">
    <div class="auteur-image">
      <%= image_tag 'auteur-sourcier.WebP' %>
    </div>
    <div class="auteur-body">
      <div class="main-title text-center">
        <h2>LE SOURCIER AMATEUR</h2>
      </div>
      <div class="auteur-text text-justify">
        <p>
          Ancien Professeur d’Université en Chimie Physique à Nancy, je me suis intéressé à la radiesthésie à la suite de la lecture des ouvrages d'Armand Viré et d’Yves Rocard, qui a été directeur du Laboratoire de Physique de l’École Normale Supérieure, dont la spécialité était le magnétisme, et qui a cherché à expliquer par la Physique le signal sourcier.
        </p>
        <p>
          Deux informations m'ont conduit à me lancer dans la pratique de cette « discipline »: le journal local, l’Est Républicain, publiait il y a une trentaine d’années, en première page, un article indiquant que 80% des fuites d’eau à Nancy étaient détectées avec les baguettes de sourcier. J'apprenais de plus que des cours de radiesthésie étaient donnés aux géologues dans certaines universités russes pour la recherche de l’eau et des minerais.
        </p>
        <p>
          J'ai alors effectué de premiers essais sur des sites connus puis inconnus et des bons résultats que j'obtenais, j'en ai déduit que je faisais partie, selon Yves Rocard, des 80% de personnes capables de détecter et de suivre les eaux souterraines, à condition de bien s’y préparer.
        </p>
        <p>
          Désormais davantage disponible, j'ai mis à profit mon expérience dans ce domaine pour suivre dans un premier temps l’eau et détecter des structures disparues autour du Château de Fontainebleau, puis d'examiner les possibilités qu'offrent les baguettes dans le domaine de la physique, de la chimie et de la biologie.
        </p>
      </div>
    </div>
  </div>
</div>
